.header {
    padding: 15px 1cm;
}

.header h1 {
    font-weight: bold;
    margin-left: 0.5cm;
}

.header h2 {
    /* font-weight: bold; */
    margin-left: 6.5cm;
}

.navBar li {
    justify-items: flex;
    /* margin-right: 0.5cm; */
    padding-bottom: 0.5cm;
    /* padding-right: 0.5cm; */
}

.navBar button {
    font-size: 16px;
    font-weight: bold;
    background: rgb(116, 194, 224);
    width: 120px;
    padding: 10px;
    margin-left: 1cm;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navBar button:hover,
button:focus,
button:active {
    color: rgb(255, 255, 255);
    background-color: darkblue;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}