<app-header></app-header>
<div class="about">
    <p>
        The Online Ph.D Thesis Tracking System is developed to provide the research scholars of Jawaharlal Nehru Technological University (JNTUK) for tracking the current status of their thesis. The Data published on this website are for information purpose only
        and should not be considered as final. For reporting any inadvertent error, omissions or for any other clarification please contact Office of The Director of Evaluation, JNTUK.
    </p>
</div>

<div class="contact">
    <p>Contact us :</p>
    <p>Phone : 08842-300911 (Office)</p>
    <p>Fax : 2300912 (F)</p>
</div>

<div class="add">
    <p>&copy; Designed and Developed by JNTUK (SDC)</p>
</div>