<app-header></app-header>

<div class="loginBox" *ngIf="flag==0">
    <form #emailForm="ngForm" class="was-validated loginForm" (ngSubmit)="isUserExisted(emailForm.value)">
        <h3>Enter Details</h3>
        <div class="inputBox">
            <input type="text" ngModel class="input-group-text" id="roll" name="roll" placeholder="Enter roll number" required>
        </div>
        <div class="inputBox">
            <input type="text" ngModel class="input-group-text" id="email" name="email" placeholder="Enter Email" required>
        </div>
        <p class="link" (click)="goToLogin()">Goto login</p>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary" id="submit">Send OTP</button>
        </div>
    </form>
</div>

<div class="loginBox" *ngIf="flag==1">
    <form #otpForm="ngForm" class="was-validated loginForm" (ngSubmit)="validateOTP(otpForm.value)">
        <h3>Enter OTP</h3>
        <div class="inputBox">
            <input type="password" ngModel class="input-group-text" id="otp" name="otp" placeholder="Enter OTP" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary" id="submit">Verify</button>
        </div>
    </form>
</div>

<div class="loginBox" *ngIf="flag==2">
    <form #passwordForm="ngForm" class="was-validated loginForm" (ngSubmit)="updatePassword(passwordForm.value)">
        <h3>Enter your new Password</h3>
        <div class="inputBox">
            <input type="Password" ngModel class="input-group-text" id="pass" name="pass" placeholder="Password" required>
        </div>
        <div class="inputBox">
            <input type="Password" ngModel class="input-group-text" id="cpass" name="cpass" placeholder="Confirm Password" required>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary" id="submit">Change Password</button>
        </div>
    </form>
</div>
